body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;

        /* Use a background image and set it to cover the entire element */
    background-image: url('quiz-img.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.title {
    text-align: center;
}

#quiz-container {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    max-width: 500px;
    width: 100%;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0;  /* Initial width - gets updated by JavaScript */
}

#question {
    margin-bottom: 20px;
}

#choices {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
